@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

.title {
  font-family: 'Gabarito';
  text-align: center;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
	font-family: 'Gabarito';
	box-shadow: 3px 19px 38px -11px #2b8694;
	background:linear-gradient(to bottom, #00bbff 5%, #008599 100%);
	background-color:#00bbff;
	border-radius:42px;
	border:1px solid #29668f;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:28px;
	padding:32px 76px;
	text-decoration:none;
	text-shadow:0px 0px 11px #3d768a;
}
.button:hover {
	background:linear-gradient(to bottom, #008599 5%, #00bbff 100%);
	background-color:#008599;
}
.button:active {
	position:relative;
	top:1px;
}
